body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv{
background-color:white;
color:black;
width:500px;
padding:20px;
border-radius:25px;
margin: auto;

}

/* centering the inputs within the maindiv */
.inputs{

margin:auto;
width:350px;
}

/* trying to emulate the formatting in the image with inline block for the labels */
label{
	display:inline-block;
	width:120px;
}